.confirm {
    padding: 6px;
    font-size: 14px;
    background: orange !important;
    outline: none;
    border: none;
    border-radius: 4px;
    color: white !important;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1px;
}

.cancel {
    background: darkgray !important;
    color: white !important;
}